
@media (max-width: 768px) {
    .menu{
        flex-direction: column;
        position: absolute;
        z-index: 20;
        background-color: white;
        top: 0px;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding: 10px;
        align-items: center;
        transform: translateY(-100%);
        transition: all 0.5s ease;
        font-size: 30px !important;
    }
    .menu-active{
        flex-direction: column;
        position: absolute;
        z-index: 20;
        background-color: white;
        top: 0px;
        left: 0;
        height: 100vh;
        width: 100vw;
        padding: 10px;
        align-items: center !important;
        transform: translateY(0);
        transition: all 0.5s ease;
    }    
    .menu li, .menu-active li{
        font-size: 30px;
    }
}